@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black);
}
p,
a {
  font-size: 16px;
}

.h3 {
  font-size: 18px;
}

:root {
  --black: #232323;
  --white: #fff;
  --gray: #edecec;
  --base-radius: 8px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 1300px;
  margin: auto;
}

/* Header */

.header {
  padding-top: 50px;
}

.header-nav__wrapper {
  gap: 48px;
}

.header-second-nav__wrapper {
  gap: 30px;
}

/* Hero */

.hero {
  padding-top: 40px;
}

.hero-banner {
  background: url("./assets/img/banner.jpg") center no-repeat;
  border-radius: var(--base-radius);
  padding-top: 170px;
  padding-bottom: 158px;
}

.h1 {
  color: var(--white);
  font-size: 58px;
  text-align: center;
}

.hero__p {
  color: var(--white);
  font-size: 20px;
  text-align: center;
}

.hero-button {
  font-weight: 500;
  padding: 15px 66px;
  background: var(--white);
  border-radius: var(--base-radius);
  display: block;
  width: 200px;
  margin: auto;
  margin-top: 63px;
}

/* Catalog */

.catalog {
  padding-top: 136px;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.catalog-link {
  width: 200px;
  margin: auto;
}

/* Partners */

.partners {
  padding-top: 136px;
}

.partners__wrappper {
  padding-top: 96px;
}

/* Subscription */

.subscription {
  padding-top: 137px;
}

.subscription__h2 {
  text-align: center;
  color: var(--white);
}

.subscription-banner {
  padding-top: 48px;
  background: url("./assets/img/subscription-banner.jpg") center no-repeat;
  padding-bottom: 18px;
  border-radius: var(--base-radius);
}

.subscription-form {
  padding-top: 95px;
  width: 970px;
  margin: auto;
}

.subscription-form__wrapper {
  align-items: start;
}

.subscription-form__input {
  padding: 20px;
  border: none;
  border-radius: var(--base-radius);
  color: var(--black);
}

.subscription__p {
  margin-top: 15px;
  color: var(--white);
}

/* Footer */

.footer {
  margin-top: 114px;
  background: var(--gray);
  padding: 96px 0;
}
